#bg-main {
    background: #f6f9fb;
    /*background-image: radial-gradient(farthest-corner at 50% 0px, #f6f9fb 70%,rgba(38, 44, 46, 0.6) 120%);
    background-attachment: fixed;
    background-size: 100%;
    color: #3e4d52;*/
}

a {
    color: #00aad4;
}

a:hover {
    color: #00a1c9;
}

/*** Style Modifiers ***/

.bg {
    background: #fff;
    background: rgba(246, 249, 251, 0.25);
}

ul.list-group li.bg {
    border: 1px solid rgba(148, 157, 162, 0.3);
}

ul.list-group li.bg:hover button {
    background: #f6f9fb;
    border: 1px solid #c6ccd4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.tabs a {
    color: #555;
}

.tabs a:hover {
    background: #ddd;
}

.bg-main-grad {
    background: #f3f3f3;
    background: -moz-linear-gradient(-65deg, #00728e -30%,#fff 60%);
    background: -webkit-linear-gradient(-65deg, #00728e -30%,#fff 60%);
    background: linear-gradient(-65deg, #00728e -30%,#fff 60%);
}

.bg-mid {
    background: #405257;
    background: rgba(12, 37, 70, 0.4);
}

.bg-second-grad {
    background: #112741;
    background: -moz-linear-gradient(135deg, #112741 60%, #00728e 100%);
    background: -webkit-linear-gradient(135deg, #112741 60%,#00728e 100%);
    background: linear-gradient(135deg, #112741 60%,#00728e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#112741', endColorstr='#008e7b',GradientType=1);
}

.bg-drop-grad {
    background: linear-gradient(#8491a0 -60%, transparent 70%);
}

.bg-add {
    background: rgba(255, 255, 255, 0.15)
}

.bg-remove {
    background: rgba(0, 0, 0, 0.25)
}

nav > ul a, nav > ul a:hover {
    text-decoration: none;
}

nav > ul a.active, nav > ul button.active {
    background: #00aad4;
    color: #f6f9fb;
}

.border-main {
    border-color: #d9dde3;
}

.tabs.border-main {
    border-bottom: 1px solid #d9dde3;
}

.spin-loader {
    border: 5px solid transparent;
    border-top: 5px solid #00728e;
}

.ttip .ttip-text {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.text-second {
    color: #8491a0;
}

.text-light {
    color: #fff;
}

.text-shadow-glow::placeholder {
    text-shadow: transparent 0 0 0px;
    color: #9bc;
}

.text-shadow-glow {
    color: #def;
    text-shadow: #def 0 0 1px;
}

.text-shadow-haze {
    text-shadow: rgba(119, 160, 163, 0.5) 0 0 10px;
}

/*** Scrollbars ***/

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 12px 12px #eee;
    border: solid 4px transparent;
}

::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 12px 12px #aaa;
    border: solid 4px transparent;
}