body {
    background: #f6f9fb;
    /*background: -moz-radial-gradient(farthest-corner at 40px 40px, #ebf0f3 0%, #caced1 100%); /* FF3.6-15 */
    /*background: -webkit-radial-gradient(farthest-corner at 40px 40px, #e6eff5 0%,#caced1 100%); /* Chrome10-25,Safari5.1-6 */
    /*background: radial-gradient(farthest-corner at 40px 40px, #ebf0f3 52%,#caced1 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    background-image: radial-gradient(farthest-corner at 50% 0px, #f6f9fb 72%,rgba(64, 82, 87, 0.4) 120%);
    background-attachment: fixed;
    background-size: 100%;
    color: #364549;
}

a {
    color: #0091b6;
}

a:hover {
    color: #00728e;
}

/*** Style Modifiers ***/

.bg {
    background: #fff;
    background: rgba(255, 255, 255, 0.5);
}

ul.list-group li {
    margin: 0px;
    /*border: 1px solid #9fa6aa;*/
    border: 1px solid rgba(148, 157, 162, 30%);
    border-top: 1px solid transparent;
}

ul.list-group li:hover {
    border: 1px solid #c6ccd4;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}
/*
ul.list-group a {
    color: #223336;
}*/

li.bg:hover  {
    background: #f6f9fb;
}

li.bg.success > div > div:last-child {
    border-right: 4px solid #50b379;
}

li.bg.contract-call > div > div:last-child {
    border-right: 4px solid #828eb6
}

.tabs a {
    color: #555;
}

.tabs a:hover {
    background: #ddd;
}

.bg-main-grad {
    background: #f3f3f3;
    background: -moz-linear-gradient(-65deg, #00728e -30%,#fff 60%);
    background: -webkit-linear-gradient(-65deg, #00728e -30%,#fff 60%);
    background: linear-gradient(-65deg, #00728e -30%,#fff 60%);
}

.bg-mid {
    background: #405257;
    background: rgba(12, 37, 70, 0.4);
}

.bg-bright {
    background: #00728e;
}

.bg-second-grad {
    background: #112741;
    background: -moz-linear-gradient(135deg, #112741 60%, #00728e 100%);
    background: -webkit-linear-gradient(135deg, #112741 60%,#00728e 100%);
    background: linear-gradient(135deg, #112741 60%,#00728e 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#112741', endColorstr='#008e7b',GradientType=1);
}

.bg-add {
    background: rgba(255, 255, 255, 0.15)
}

.bg-remove {
    background: rgba(0, 0, 0, 0.25)
}

.border-main {
    border-color: #d9dde3;
}

.tabs.border-main {
    border-bottom: 1px solid #d9dde3;
}

.table > thead > tr.border-main > th {
    border-bottom: 2px solid #fff;  
}

.table > tbody > tr.border-main > td {
    background: #f3f3f3;
    border-top: 2px solid #fff;
}

.spin-loader {
    border: 3px solid #d9dde3;
    border-top: 3px solid #00728e;
}

.ttip .ttip-text {
    background: rgba(0, 0, 0, 0.75);
    color: #fff;
}

.text-second {
    color: #74808d;
}

.text-light {
    color: #fff;
}

.text-shadow-glow::placeholder {
    text-shadow: transparent 0 0 0px;
    color: #9bc;
}

.text-shadow-glow {
    color: #def;
    text-shadow: #def 0 0 1px;
}

.text-shadow-haze {
    text-shadow: rgba(119, 160, 163, 0.5) 0 0 10px;
}