body {
    background: #171d24;
    background-image: radial-gradient(farthest-corner at 50% 0px, #8390a1 12%,rgba(9, 11, 12, 0.9) 110%);
    background-attachment: fixed;
    background-size: 100%;
    color: #eee;
}

a {
    color: #4294d6;
}

a:hover {
    color: #18c5f0;
}

/*** Style Modifiers ***/

.bg {
    background: #151920;
    background: rgba(13, 16, 21, 0.7);
    background: rgba(33, 40, 51, 0.4);
}

ul.list-group li.bg {
    border: 2px solid #606a7a;
}

ul.list-group li.bg:hover {
    background: rgb(26, 31, 39, 0.7);
}

.tabs a {
    color: #eee;
}

.tabs a:hover {
    background: #383e44;
}

.bg-main-grad {
    background: #181b20;
    background: -moz-linear-gradient(180deg, #1c2027 -30%,#0d1015 80%);
    background: -webkit-linear-gradient(180deg, #1c2027 -30%,#0d1015 80%);
    background: linear-gradient(180deg, #181b20 -30%,#0d1015 80%);
}

.bg-mid {
    background: #495663;
}

.bg-second {
    background: #363d44;
}

.bg-second-grad {
    background: -moz-linear-gradient(-45deg, #112741 60%, #00728e 100%);
    background: -webkit-linear-gradient(-45deg, #112741 60%,#00728e 100%);
    background: linear-gradient(#2c3641 10%,rgba(15, 16, 19, 0) 100%);
}

.bg-add {
    background: rgba(0, 0, 0, 0.0)
}

.bg-remove {
    background: rgba(255, 255, 255, 0.0)
}

nav > ul a, nav > ul a:hover {
    color: #eee;
    text-decoration: none;
}

nav > ul a.active {
    background: #ffd036;
    color: #112741;
}

.border-main {
    border-color: #363d44;
}

.table > thead > tr.border-main > th {
    border-bottom: 2px solid #0d1015;  
}

.table > tbody > tr.border-main > td {
    border-top: 2px solid #0d1015;
}

.text-second {
    color: #8491a0;
}

.text-light {
    color: #f7f7f7;
}

.text-shadow-glow::placeholder {
    text-shadow: transparent 0 0 0px;
    color: #9bc;
}

.text-shadow-glow {
    color: #def;
    text-shadow: #def 0 0 1px;
}